<!DOCTYPE html>
<html>
<head>
  <title>Reg&iactute;strate</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,projection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
<h2>Crea una cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email,"Ingresa tu email" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password,"Crea tu contraseña" %>
    <% if @minimum_password_length %>
    <em>( Recuerda, necesitas <%= @minimum_password_length %> caracteres como minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirma tu contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
              <div class="col s12" style="color: #FFBA22">
              <%=f.submit "Crear cuenta" ,class:"btn center-align"  %>
            </div>
</div>

<% end %>

<%= render "devise/shared/links" %>
</body>
</html>
