<div style="width:50%;margin:10px auto;">
<h1> Agregar Trabajador </h1>

<%= form_for(@worker) do |f| %>
    <% @worker.errors.full_messages.each do |message| %>
      <div class="be-red white top-space">
           *<%= message %>
      </div>
    <%end%>

   <div class="field" >
	<%=f.text_field :nombre , placeholder: "Nombre" ,class:"form-control"%>

   </div>
   <div class="field">
	<%=f.text_area :email, placeholder: "Mail", class:"form-control" %>
    </div>
    <div class="field">

	<%=f.submit "Guardar" , class:"btn be-red white large-padding" %>
	</div>
 <%end%>


 </div>
