<!DOCTYPE html>
<html>
<head>
  <title>Reg&iactute;strate</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen,projection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="container">
  <div class="row">
    <div class="blue-grey darken-3">
      <h5 class="center login-title" style="color: #FFBA22">Crea una cuenta
      </h5>
    </div>
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div>
    <label>Ingresa tus datos para poder crear tu cuenta y acceder</label>
  </div>

    <div class="input-field col s12">
    <i class="material-icons prefix">email</i>
    <label for="email">Registra tu email</label>
    <%= f.email_field :email, autofocus: true %>
            </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">mode_edit</i>
      <label for="password">Crea tu contraseña (minimo de 6 caracteres) </label>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>


    <div class="input-field col s6">
      <i class="material-icons prefix">mode_edit</i>
      <label for="password">Confirma tu contraseña</label>
      <%=f.password_field :password_confirmation, autocomplete: "off"%>
    </div>
    <div class="col s12" style="color: #FFBA22">
      <%=f.submit "Crear cuenta" ,class:"btn center-align"  %>
    </div>
  <%= render "devise/shared/links" %>
</div>

<% end %>
</body>
</html>
