<%= form_for(@summary) do |f| %>
  <% if @summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@summary.errors.count, "error") %> prohibited this summary from being saved:</h2>

      <ul>
      <% @summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field">
  <%= label_tag 'Trabajadores'%><br>
  <% for worker in Worker.all do %>
    <%= check_box_tag "summary[worker_ids][#{worker.id}]", nil, @summary.workers.member?(worker)%><%= worker.nombre%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :resumen %><br>
    <%= f.number_field :resumen %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br>
    <%= f.number_field :worker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
