<h1>Lista de trabajadores</h1>
<%= @trabajadores.each do |worker| %>
<div>
	<%= worker.nombre%>
</div>
<div>
	<%= worker.rut%>
</div>
<div>
	<%= worker.direccion%>
</div>
<div>
	<%= worker.edad%>
</div>
<%end%>