




<%= form_for([@worker,@assistance]) do |f| %>

<div class="form-asis">

 <% @assistance.errors.full_messages.each do |message| %>

 <div class="deep-orange accent-2 top-space font-size-new white ">


 <%= message %>

</div>
 <% end %>

 <%= f.label :asistio ,"Marcar Ausencia" ,class: "label-size"%>
    <%= f.check_box :asistio  %>
     <%= f.label :excepcion,"Excepcion" ,class: "label-size"%>
    <%= f.check_box :excepcion  %>
     <%= f.label :horas, "." %>

    <div class="col s2">
      <%= f.label :horas  %>

     <%= f.text_field :horas ,placeholder: "Horas Extras" %>

   </div>


       <%= f.label :fecha %>
    <%= f.date_select :fecha ,class: "browser-default",start_year: Date.current.year,end_year: Date.current.year,order: [:day, :month, :year], selected: Date.today %> 

   


  <a class="waves-effect waves-light btn"><div class="actions" >
    <%= f.submit "Crear Asistencia"%> </div></a>

  </div>







<% end %>

