

<!DOCTYPE html>


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

 
<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
      
        <div class="row center">
          <h5 class="header col s12 light">Web de control de asistencia </h5>
        </div>
        <div class="row center">
           <%= link_to "Trabaja con nosotros", new_contact_path,class:"btn-large waves-effect waves-light blue-grey darken-3" %>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("gasfiteria2.jpg", :alt => "rss feed") %></div>
  </div>


  <div class="container">
    <div class="section">

      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Rapidez y Eficiencia</h5>

            <p class="light">Disponibles en toda la Región Metropolitana. Atendemos su emergencia las 24 horas, todos los días del año. Pónganos a prueba!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Profesionales Calificados</h5>

            <p class="light">Contamos con el mejor personal calificado, profesionales expertos en el rubro, para atender sus necesidades de reparación.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Calidad Garantizada

</h5>

            <p class="light">Nuestros especialistas, profesionales del rubro, garantizan un trabajo limpio, seguro y de calidad. Ese es nuestro compromiso.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><%= image_tag("gasfiteria3.jpg", :alt => "rss feed") %></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Somos Lideres en Trabajos de Gasfiteria, Electricidad y Limpieza</h4>
          <p class="left-align light">Desde 2002, INSAC se ha ganado el respeto y la confianza de sus clientes. Con más de 10 años de experiancia, nuestros expertos lograrán satisfacer todas sus necesidades de reparación y mantenimiento. En un clima amable y con responsabilidad, rapidez y eficiencia. ¿Necesita un Gásfiter? No dude en contactarse con nosotros. Nuestro servicio está disponible para toda la Región Metropolitana. Emergencias, las 24 horas, todos los días del año.</p>
        </div>
      </div>

    </div>
  </div>


  

 


  <script>$(document).ready(function(){
    $('.parallax').parallax();
});
</script>
  </body>


<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 


        <footer class="page-footer blue-grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contenido</h5>
                <p class="grey-text text-lighten-4">Aplicacion web para el registro de asistencia en empresa INSAC</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacto</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3">admin@insac.cl</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Alvaro Ponce - Juan Tramolao
            
            </div>
          </div>
        </footer>
            


</html>