<div class="container">
  <h1>Resumen datos ingresados</h1>
  <p>
  <strong>Nombre:</strong>
  <%= @contact.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @contact.rut %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @contact.fono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @contact.comentario %>
</p>

  <div class="row">
    <div class="col s12" style="color: #FFBA22">
      <%= link_to 'Atras', welcome_index_path , class:"btn center-align"%>
    </div>
  </div>

</div>