<body id="top">
<div id="cv1"  >
  <div class="mainDetails">
    
    <div id="name">
      <h1 class="quickFade delayTwo"><%= @contact.nombre %></h1>
  
    </div>
    
    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>Email: <%= @contact.email %></li>
        
        <li>Telefono: <%= @contact.fono %></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  
  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Cedula Identidad</h1>
        </div>
        
        <div class="sectionContent">
          <h2> <%=@contact.rut %></h2>
        </div>
      </article>
      <div class="clear"></div>
    </section>
    
    
        <section>
      <div class="sectionTitle">
        <h1>Comentarios</h1>
      </div>
      
      <div class="sectionContent">
        
          <h2><%=@contact.comentario %></h2>
          
      </div>
      <div class="clear"></div>
    </section>
  </div>

    
  <div class="row">
    <div class="col s12" style="color: #FFBA22">
      <%= link_to 'Atras', welcome_index_path , class:"btn center-align"%>
    </div>
  </div>

</div>
</body>
  