
<p>
  <strong>Nombre:</strong>
  <%= @contact.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @contact.rut %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @contact.fono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @contact.comentario %>
</p>

<%= link_to 'Volver', welcome_index_path %>

