<%= form_for(@assistance) do |f| %>
  <% if @assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assistance.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% @assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :worker_id %><
    <%= f.text_field :worker_id %>
  


   <% @workers.each do |worker| %>

   <%=worker.nombre%>

   <%= f.label :asistio %>
    <%= f.check_box :asistio , assistance.worker.id %>

   <% end %>
    
  
    <%= f.label :asistio %>
    <%= f.check_box :asistio %>
  
     <%= f.label :excepcion %>
    <%= f.check_box :excepcion %>
  
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  



  <div class="actions">
    <%= f.submit %>
  </div>








  






<% end %>

