<p id="notice"><%= notice %></p>

<h1>Listing Assistances</h1>

<table>
  <thead>
    <tr>
      <th>Worker</th>
      <th>Asistio</th>
      <th>Licencia</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistances.each do |assistance| %>
      <tr>
        <td><%= assistance.worker %></td>
        <td><%= assistance.asistio %></td>
        <td><%= assistance.excepcion %></td>
        <td><%= assistance.fecha %></td>
     
    <% end %>
  </tbody>
</table>

<br>


