


<html>

<link type="text/css" rel="stylesheet" href="HeaderFonts.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>


<header>



 


</header>


<body>



<%= search_form_for @search do |f| %>



    <table class="highlight">
        <thead>
          <tr>
              <th><%= f.label :nombre_cont, "Nombre" %><%= f.search_field :nombre_cont %>
</th>
              <th> <%= f.label :rut_cont, "Rut" %><%= f.search_field :rut_cont %>
</th>
              
              <th> <%= f.submit "Buscar" , class:"waves-effect waves-light btn" %></th>


          </tr>
          <tr>
              <th data-field="id"><i class="material-icons prefix">account_circle</i>Nombre</th>
              <th data-field="name"><i class="material-icons prefix">picture_in_picture</i>Rut</th>
              <th data-field="price"><i class="material-icons prefix">work</i>Equipo</th>
          </tr>
        </thead>

<%end%>

<% @workers.each do |worker| %>


       <tbody>
          <tr>
            <td><%= link_to worker.nombre, worker %></td>
            <td><%= worker.rut %></td>
             <td> <% unless worker.equip.nil? %>

             <%= worker.equip.nombre %>

            <% else %>

            No Tiene Grupo

            <%end%>

          </td>
           
            <td><%= link_to "Eliminar", worker, method: :delete,class:"waves-effect waves-light btn" %></td>
          </tr>

        </tbody>



<%end%>

      </table>
            


</body>
</html>