<p id="notice"><%= notice %></p>




    <table class="highlight">
        <thead>
  
          <tr>
              <th data-field="id">Nombre</th>
              <th data-field="name">Asistencia</th>
              <th data-field="price">Fecha</th>
          </tr>
        </thead>


         <% @assistances.each do |assistance| %>

       <tbody>
          <tr>
            <td><%= assistance.worker.nombre %></td>
            <td><% if assistance.asistio==false %>

            <%="Asistio"%>

            <%else%>

            <%="Falto"%>

            <%end%>
        
          





          </td>
            <td><%= assistance.fecha %></td>
           
          </tr>

        </tbody>



<%end%>

      </table>