

<%= form_for([@worker,@report]) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this assistance from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-asis">


   
    
   <% e=@worker %>
   <% z=e.assistances.where(asistio: true).count %>
   <%= f.hidden_field :diasFaltados , value: z  %>



   <% p=@worker %>
   <% q=p.assistances.count %>
   <%= f.hidden_field :diasTotales , value: q  %>


    <% p=@worker %> 
    <% g=((p.assistances.count-p.assistances.where(asistio: true).count)*100) %>
    <% l=Float(g/p.assistances.count) %>
     <%= f.hidden_field :porcentaje , value: l  %>

    <% k=p.assistances.where(excepcion: true).count %>
    <%= f.hidden_field :excepciones , value: p.assistances.where(excepcion: true).count  %>

     <% if l ==100 %>

     <%= f.hidden_field :descuentos , value: 0  %>
     <%= f.hidden_field :bonos , value: 1  %>
     <% else %>
     <% m = (z - k) %>
     <%= f.hidden_field :descuentos , value: m  %>
     <%= f.hidden_field :bonos , value: 0  %>
     <% end %>


    <%= f.hidden_field :horasExtras , value: p.assistances.sum("1 * horas") %>
    <%= f.label :resumen , "Resumen Reporte" %>
    <%= f.text_field :resumen  %>







  <a class="waves-effect waves-light btn"><div class="actions" >
    <%= f.submit "Crear reporte"%> </div></a>


<% end %>
  </div>
